{% extends 'base.html.twig'|LoadRootTheme %}
{% block body %}
    <div class="row container">
        <div class="col-md-4">
            <img src="{{asset('img/error.jpg')}}" alt="error image" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h1>{{"page.error.error.mg1"|trans}}</h1>
            <h2>{{"page.error.error.mg2"|trans}} "{{ status_code }} {{ status_text }}".</h2>

            <div>
                {{"page.error.error.mg3"|trans}}
            </div>
        </div>
    </div>
    <style type="text/css">
     header{
        display: none;
     }
    </style>
{% endblock %}