{% extends "::Admin.html.twig" %}
{% block header %}
          {{'members.header.title'|trans}}
<small>{{'setting'|trans}}</small>
{% endblock %} 
{% block ariane %}
  {{parent()}} <li><i class="fa fa-cog"></i>{{'members.ariane'|trans}}</li>
{% endblock %}
{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" type="text/css" href="{{ asset('dataTables.bootstrap.min.css') }}">
{% endblock %}
{% block body %}
  {% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-notice callout callout-success">
      {{ flash_message }}
    </div>
  {% endfor %}
<div class="col-md-12">
  <div class="box  box-primary">
    <div class="box-header">
      <h3 class="box-title">{{'members.header.title'|trans}}</h3>
      <div class="box-tools pull-right">
        <a href="{{ path('admin_member_new') }}" class="btn btn-primary"><span class="fa fa-plus"></span>  {{ 'new.submit'|trans }}</a>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th style="width:10px">#</th>
          <th>{{'table.name'|trans}}</th>
          <th>{{'table.action'|trans}}</th>
        </tr>
        </thead>
        <tbody>
           {% for member in members %}
              <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.name }} {{member.firstname}}</td>
                <td>
                   <!-- start view  -->
                   <button data-toggle="modal" href="#infos{{ member.id }}" class="btn btn-default"><i class="fa fa-eye"></i></button>
                    <div class="modal" id="infos{{ member.id }}">
                      <div class="modal-dialog modal-lg">  <!-- modal-lg -->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <h4 class="modal-title">{{ member.name }} {{member.firstname}}</h4>
                          </div>
                          <div class="modal-body">
                            <img class="img-responsive img-circle" width="400" src="{{member.image}}" alt="image {{member.image}}">   
                            <hr>
                            {{member.description|raw}}           
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end view -->
                    <a class="btn btn-default fa fa-edit" style="text-decoration: none;" href="{{ path('admin_member_edit', { id: member.id }) }}"></a>
                    <a style="text-decoration: none;" href="{{ path('admin_member_delete', { id: member.id }) }}" class="btn btn-danger fa fa-trash"></a>
              </td>
              </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th style="width:10px">#</th>
          <th>{{'table.name'|trans}}</th>
          <th>{{'table.action'|trans}}</th>
        </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
    
{% endblock %}


{% block javascripts %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('admin/js/jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/js/dataTables.bootstrap.min.js') }}"></script>
  <script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}