<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% block seo %}
             <meta charset="utf-8">
             <title>{#{post.title}#}</title>
             <meta content="{#{post.courtcontent|slice(0,150)|raw}#}" name="description">
             <meta content="{#{post.title}#},assurance, courtier assurance, assurance courtier" name="keywords">
             <meta content="CECA ASSURANCE" name="author">
             <meta name="robots" content="index,follow"/>
             <meta name="googlebot" content="snippet,archive">
             <meta property="og:site_name" content="CECA ASSURANCE">
             <meta property="og:title" content="{#{post.title}#}">
             <meta property="og:description" content="{#{post.courtcontent|slice(0,150)|raw}#}">
             <meta property="og:type" content="website">
             <meta property="og:image" content="{#{post.image}#}"> <!-- link to image for socio -->
             <meta property="og:url" content="{#{ path('blog_post',{'slug':post.slug}) }#}"> 
        {% endblock %}
        {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">  
        {% endblock %}
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107219508-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());

          gtag('config', 'UA-107219508-1');
        </script>                                 
    </head>
    <body id="{% block body_id %}{% endblock %}">
      
      {% block nav %}
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
              </button>
              <a class="navbar-brand" href="{{ path('homepage') }}">Asso</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                {% set route = app.request.attributes.get('_route') %}
                <li class="{{ 'homepage' in route ? 'active'}}"><a href="{{ path('homepage') }}">ACCEUIL</a></li>
                <li class="{{ 'about'    in route ? 'active'}}"><a href="{{ path('about') }}">APROPOS</a></li>
                <li class="{{ 'activity' in route ? 'active'}}"><a href="{{ path('activity_index') }}">NOS ACTIVITÉS</a></li>
                <li class="{{ 'project'  in route ? 'active'}}"><a href="{{ path('projects_index') }}">PROJETS</a></li>
                <li class="{{ 'gallery'  in route ? 'active'}}"><a href="{{ path('gallery') }}">GALERIE</a></li>
                <li class="{{ 'contact'  in route ? 'active'}}"><a href="{{ path('contact_us') }}">CONTACT</a></li>
              </ul>
            </div>
          </div>
        </nav>
      {% endblock %}

      {% block body %}
        {% block ariane %}{% endblock %}

        {% block header %}{% endblock %}

        {% block main %}{% endblock %}

        {% block aside %}{% endblock %}
      {% endblock %}

      {% block footer %}
        <footer class="footer container-fluid">
          <div class="row">
            <div class="col-xs-12 footer-top">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 contact-info">
                    <h3>Nos Contacts</h3>
                     {{ render(controller('AppBundle:Default:ourContact')) }}
                  </div>
                  <div class="col-md-3 pendin-p" >
                    <h3>Projets en cours</h3>
                    {{ render(controller('AppBundle:Project:pendingProjects')) }}
                  </div>
                  <div class="col-md-3 activities">
                    <h3>Nos Activités</h3>
                    {{ render(controller('AppBundle:Activity:ourActivity')) }}
                  </div>
                  <div class="col-md-3">
                    <div class="le-benin">
                      <h3>Le Bénin</h3>
                      {{ render(controller('AppBundle:Default:leBeninLinks')) }}
                    </div>
                    <div class="sepa2"></div>
                    <div class="socials-links">
                      {{ render(controller('AppBundle:Default:socialsLinks')) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 text-center footer-bottom">
              <p>Copyright &copy; {{ 'now'|date('Y')}} - <a href="#"> Devflam</a></p>
            </div>
          </div>
        </footer>
      {% endblock %}

       <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
       </div>

      {% block javascripts %}
        <!-- jQuery Easing -->
        <script src="{{asset('js/jquery.stellar.min.js')}}"></script>
        <!-- Flexslider -->
        <script src="{{asset('js/jquery.flexslider-min.js')}}"></script>
          <script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
        <script src="{{asset('js/jquery.waypoints.min.js')}}"></script>
        <script src="{{asset('js/main.js')}}"></script>
            <script type="text/javascript" charset="utf-8">
               var url = document.location.pathname; 
               $('a').each( function(){
                   if ($(this).parent().parent().hasClass('nav-pills')) {
                      
                       if($(this).attr('href') == url){
                           
                          $(this).parent().addClass('active')
                           
                        } else {
                           $(this).parent().removeClass('active')
                          }
                    }
                });
           </script>
      {% endblock %}
         
    </body>
</html>
