{% extends 'front.html.twig' %}
{% block seo %}
    {{parent()}}    
{% endblock %}

{% block body_id 'about_page' %}
 
{% block stylesheets %}
	{{ parent() }}
	<!-- font awesome  -->
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/style.css') }}">
{% endblock %}

{% block body %}

	<!-- start header -->
	{% block header %}
		<header role="banner" class="banner" style="background-image:url('{{asset('images/bg-banner.jpg')}}')">
			<div class="top-line"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center banner-details" >
						<h1>{{ introPost.title|capitalize }}</h1>
						<div class="light sepa mt-10"></div>
						{{ introPost.content[:200]|capitalize|raw }}
					</div>
				</div>
			</div>
		</header>
    {% endblock %}
    <!-- end header -->

	{% block main %}
		<!-- main start -->
		<main role="main" class="container">

			<!-- section start -->
			<section id="wordOfCeo" class="row wordOfCeo">
				<h1>{{ ceoPost.title|capitalize }}</h1>
				<div class="sepa2 mt-10"></div>
				<div class="col-md-6 col-md-push-6">
					<img src="{{ asset( ceoPost.dossierImages[0].url|default('theme/images/05.jpg'))}}" class="img-responsive" alt="">
				</div>
				<div class="col-md-6 col-md-pull-6">
					<p>{{ ceoPost.content|capitalize|raw }}</p>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<section id="events" class="current-events">
				<h1>Actualités</h1>
				<div class="sepa2 mt-10"></div>
				<div class="row">
					{% for event in events %}
						<article class="col-xs-12 col-sm-6 col-md-3">
							<img src="{{ asset( event.dossierImages[0].url|default('theme/images/05.jpg'))}}" class="img-responsive" alt="">
							<div class="activity-details">
								<h2>{{ event.title|capitalize }}</h2>
								<p>{{ event.content|capitalize|raw }}</p>
								<a href="javascript:void(0)" class="btn btn-info btn-flat"> Lire la suite</a>
							</div>
						</article>
						{#<div class="col-sm-6 col-md-3">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img src="{{ asset( event.dossierImages[0].url|default('theme/images/05.jpg'))}}" alt="" class="img-responsive">
									<div class="overlay-to-top">
										<p class="small margin-clear"><em>App development <br> Lorem ipsum dolor sit</em></p>
									</div>
								</div>
								<div class="body">
									<h3>Project Title</h3>
									<div class="separator"></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
									<a href="portfolio-item.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>#}
					{% endfor %}
				</div>
			</section>
			<!-- section end -->

		</main>
		<!-- main end -->
	{% endblock %}
{% endblock %}
{% block javascripts %}
  
  <script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>

  {{parent()}}
 {% endblock %}