{% extends 'front.html.twig' %}
{% block seo %}
   {{parent()}}    
{% endblock %}

{% block body_id 'contact_page' %}
 
{% block stylesheets %}
	{{ parent() }}

	<!-- font awesome  -->
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/font-awesome.min.css') }}">
	<!-- Custom stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/style.css') }}">
{% endblock %}

{% block body %}
	<!-- start header -->
	{% block header %}
		<header role="banner" class="banner" style="background-image:url('{{asset('images/bg-banner.jpg')}}')">
			<div class="top-line"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center banner-details" >
						<h1>Contactez nous</h1>
						<div class="light sepa mt-10"></div>
						<p class="text-center">{{ address.bannerText }}</p>
					</div>
				</div>
			</div>
		</header>
    {% endblock %}
    <!-- end header -->

	{% block main %}
		<div class="container contact-wrapper">
    		<div class="row">

		        <!-- aside end -->
		        <aside role="sidebar" class=" col-md-3 address">
					<h2 class="">{{ address.title }}</h2>
					
					<ul class="list-unstyled">
						<li><i class="fa fa-home"></i><span class="text-center"> {{ address.location }}</span></li>
						<li><i class="fa fa-phone"></i><a href="tel:{{ address.telephone }}" title="Phone"> {{ address.telephone }}</a></li>
						<li><i class="fa fa-mobile"></i><a href="tel:{{ address.mobile }}" title="Phone"> {{ address.mobile }}</a></li>
						<li><i class="fa fa-envelope-o"></i><a href="mailto:{{ address.email }}"> {{ address.email }}</a></li>
					</ul>

					<ul class="list-unstyle list-inline social-list">
						{% if address.socials|length > 0 %}
							{% for social in address.socials %}
								<li><a href="{{ social.url }}"><i class="{{ social.iconCode }}"></i></a></li>
							{% endfor %}
						{% endif %}
					</ul>
					
		        </aside>
		        <!-- aside end -->

		        <!-- main start -->
		        <main role="main" class="col-md-8 contact-form">
					<p class="lead">{{ address.contactFormText }}</p>

					

						
					<div class="">
						{{form_start(form)}}
							{% for flash_message in app.session.flashbag.get('success') %}
								<div class="flash-notice alert alert-success alert-dismissable">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									{{ flash_message }}
								</div>
							{% endfor %}
							
							{% if form_errors(form.email) or form_errors(form.message) %}
								<div class="flash-notice alert alert-danger alert-dismissable">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									{{ form_errors(form.email) }}
									{{ form_errors(form.message) }}
								</div>
							{% endif %}

							<div class="form-group has-feedback">
								{{ form_label(form.name) }}
								{{ form_widget(form.name) }}
								<i class="fa fa-user form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								{{ form_label(form.email)}}
								{{ form_widget(form.email) }}
								<i class="fa fa-envelope form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								{{ form_label(form.subject) }}
								{{ form_widget(form.subject) }}
								<i class="fa fa-navicon form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								{{ form_label(form.message) }}
								{{ form_widget(form.message) }}
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
							<input type="submit" value="Envoyer" class="btn btn-info">
						 
						{{form_end(form)}}
					</div>
		        </main>
		        <!-- main end -->
    		</div>
		</div>
		<div>
		</div>
		<!-- main end -->
	{% endblock %}
{% endblock %}
{% block javascripts %}
  <script src="{{asset('js/jquery.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  {{parent()}}
 {% endblock %}