{% extends 'front.html.twig' %}
{% block seo %}
    <meta charset="utf-8">
    <title>{#{post.title}#}</title>
    <meta content="{#{post.courtcontent|slice(0,150)|raw}#}" name="description">
    <meta content="{#{post.title}#},assurance, courtier assurance, assurance courtier" name="keywords">
    <meta content="CECA ASSURANCE" name="author">
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="snippet,archive">
    <meta property="og:site_name" content="CECA ASSURANCE">
    <meta property="og:title" content="{#{post.title}#}">
    <meta property="og:description" content="{#{post.courtcontent|slice(0,150)|raw}#}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{#{post.image}#}"> <!-- link to image for socio -->
    <meta property="og:url" content="{#{ path('blog_post',{'slug':post.slug}) }#}">     
{% endblock %}

{% block body_id 'gallery_page' %}
 
{% block stylesheets %}
	{{ parent() }}
	<!-- Animate css -->
	<link rel="stylesheet" type="text/css" href="{{ asset('css/animate.css') }}">
	<!-- font awesome  -->
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/font-awesome.min.css') }}">
	<!-- Font awesome -->
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/style.css') }}">

{% endblock %}

{% block body %}

	{% block main %}
		<!-- main start -->
		<div class="container gallery-wrapper">
			<div class="row">
				<!-- start aside col-md-3 -->
				<aside class="col-md-3 gallery-menu">
			    	<h2 class="text-center">Menu galerie</h2>
			    	<div class="sepa"></div>
			    	<nav>
						<ul class="nav nav-pills nav-stacked">
							{% for menu in galleryMenu %}
						  		<li><a href="{{ path('gallery_category', {'slug': menu.slug}) }}">{{ menu.title|capitalize }}</a></li>
							{% endfor %}
						</ul>
					</nav>
				</aside>
				<!-- end aside end col-md-3 -->

				<!-- start main  col-md-8 -->
				<main role="main" id="gallery" class="col-md-9 gallery-section">
					<div class="row">
						{% for image in currentGallery.dossierImages %}
							<div class="col-md-3 col-sm-3 gallery_item">
								<div class="bg-img" style="background-image:url('{{asset(image.url)}}');" data-trigger="zoomerang"></div>
							</div>
						{% endfor %}
					</div>
				</main>
				<!-- end main col-md-8 -->
			</div>
		</div>
		
		<!-- main end -->
	{% endblock %}
{% endblock %}
{% block javascripts %}
  
  <script src="{{asset('js/jquery.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  <!--  -->
  <script src="{{asset('js/zoomerang.js')}}"></script>
  <script src="{{asset('js/main.js')}}"></script>
  
  <script>
		Zoomerang
      .config({
        maxHeight: 600,
        maxWidth: 900,
        bgColor: '#000',
        bgOpacity: .85
      })
      .listen('[data-trigger="zoomerang"]')
	</script>
	{{ parent() }}
 {% endblock %}