{% extends 'front.html.twig' %}
{% block seo %}
    <meta charset="utf-8">
    <title>{#{post.title}#}</title>
    <meta content="{#{post.courtcontent|slice(0,150)|raw}#}" name="description">
    <meta content="{#{post.title}#},assurance, courtier assurance, assurance courtier" name="keywords">
    <meta content="CECA ASSURANCE" name="author">
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="snippet,archive">
    <meta property="og:site_name" content="CECA ASSURANCE">
    <meta property="og:title" content="{#{post.title}#}">
    <meta property="og:description" content="{#{post.courtcontent|slice(0,150)|raw}#}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{#{post.image}#}"> <!-- link to image for socio -->
    <meta property="og:url" content="{#{ path('blog_post',{'slug':post.slug}) }#}">     
{% endblock %}

{% block body_id 'home_index' %}
 
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/bootstrapNav.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/noscript.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/style.css') }}">
{% endblock %}

{% block body%}

	<div id="page-wrapper">

		<!-- Wrapper -->
		<div id="wrapper" class="">
				
			<!-- Panel -->
			
			<section class="panel">
				<div class="intro color2">
					<h1 class="major">{{ welcomePost.title|capitalize }}</h1>
					<p>{{ welcomePost.content|capitalize|raw }}.</p>
				</div>
				<div class="gallery">
					<div class="group span-3">
						<a href="{{ absolute_url( asset(galleryPost.dossierImages[0].url|default('images/gallery/fulls/01.jpg'))) }}" class="image filtered span-3" data-position="bottom">
							<img src="{{ asset(galleryPost.dossierImages[0].url|default('images/gallery/thumbs/01.jpg'))}}" alt="" />
						</a>
						<a href="{{ absolute_url( asset(galleryPost.dossierImages[1].url|default('images/gallery/fulls/02.jpg'))) }}" class="image filtered span-1-5" data-position="center">
							<img src="{{ asset(galleryPost.dossierImages[1].url|default('theme/images/gallery/thumbs/02.jpg')) }}" alt="" />
						</a>
						<a href="{{ absolute_url( asset(galleryPost.dossierImages[2].url|default('images/gallery/fulls/03.jpg'))) }}" class="image filtered span-1-5" data-position="bottom">
							<img src="{{ asset(galleryPost.dossierImages[2].url|default('theme/images/gallery/thumbs/03.jpg')) }}" alt="" />
						</a>
					</div>
					<a href="{{ absolute_url( asset(galleryPost.dossierImages[3].url|default('images/gallery/fulls/04.jpg'))) }}" class="image filtered span-2-5" data-position="top">
						<img src="{{ asset(galleryPost.dossierImages[3].url|default('theme/images/gallery/thumbs/04.jpg')) }}" alt="" />
					</a>
					<div class="group span-4-5">
						<a href="{{ absolute_url( asset(galleryPost.dossierImages[4].url|default('images/gallery/fulls/05.jpg'))) }}" class="image filtered span-3" data-position="top">
							<img src="{{ asset(galleryPost.dossierImages[4].url|default('theme/images/gallery/thumbs/05.jpg')) }}" alt="" />
						</a>
						<a href="{{ absolute_url( asset(galleryPost.dossierImages[5].url|default('images/gallery/fulls/06.jpg'))) }}" class="image filtered span-1-5" data-position="center">
							<img src="{{ asset(galleryPost.dossierImages[5].url|default('theme/images/gallery/thumbs/06.jpg')) }}" alt="" />
						</a>
						<a href="{{ absolute_url( asset(galleryPost.dossierImages[6].url|default('images/gallery/fulls/07.jpg'))) }}" class="image filtered span-1-5" data-position="bottom">
							<img src="{{ asset(galleryPost.dossierImages[6].url|default('theme/images/gallery/thumbs/07.jpg')) }}" alt="" />
						</a>
						<a href="{{ absolute_url( asset(galleryPost.dossierImages[7].url|default('images/gallery/fulls/08.jpg'))) }}" class="image filtered span-3" data-position="top">
							<img src="{{ asset(galleryPost.dossierImages[7].url|default('theme/images/gallery/thumbs/08.jpg')) }}" alt="" />
						</a>
					</div>
					<a href="{{ absolute_url( asset(galleryPost.dossierImages[8].url|default('images/gallery/fulls/09.jpg'))) }}" class="image filtered span-2-5" data-position="right">
						<img src="{{ asset(galleryPost.dossierImages[8].url|default('theme/images/gallery/thumbs/09.jpg')) }}" alt="" />
					</a>
				</div>
			</section>
	</div>
{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
  
  <script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  <script src="{{asset('theme/assets/js/skel.min.js')}}"></script>
  <script src="{{asset('theme/assets/js/main.js')}}"></script>
  <script src="{{asset('theme/assets/js/monscript.js')}}"></script>
{{ parent() }}
 {% endblock %}