{% extends 'front.html.twig' %}
{% block seo %}
    <meta charset="utf-8">
    <title>{#{post.title}#}</title>
    <meta content="{#{post.courtcontent|slice(0,150)|raw}#}" name="description">
    <meta content="{#{post.title}#},assurance, courtier assurance, assurance courtier" name="keywords">
    <meta content="CECA ASSURANCE" name="author">
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="snippet,archive">
    <meta property="og:site_name" content="CECA ASSURANCE">
    <meta property="og:title" content="{#{post.title}#}">
    <meta property="og:description" content="{#{post.courtcontent|slice(0,150)|raw}#}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{#{post.image}#}"> <!-- link to image for socio -->
    <meta property="og:url" content="{#{ path('blog_post',{'slug':post.slug}) }#}">     
{% endblock %}

{% block body_id 'our_activities_page' %}
 
{% block stylesheets %}
	{{ parent() }}
	<!-- font awesome  -->
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/style.css') }}">
{% endblock %}

{% block body %}

	{% block main %}
		<!-- main start -->
		<main role="main" class="container">
			<!-- section start -->
			<section id="our-activities" class="row our-activities">
				<h1>Nos activités</h1>
				<div class="sepa2"></div>
				{% for activity in activities %}
					<article class="col-xs-12 col-sm-6 col-md-3">
						<img src="{{ asset( activity.dossierImages[0].url|default('theme/images/05.jpg'))}}" class="img-responsive" alt="">
						<div class="activity-details">
							<h2>{{ activity.title|capitalize }}</h2>
							<p>{{ activity.content|capitalize|raw }}</p>
							<a href="{{ path('activity_post_show', { postSlug: activity.slug }) }}" class="btn btn-info btn-flat"> Lire la suite</a>
						</div>
					</article>
				{% endfor %}
			</section>
			<!-- section end -->
		</main>
		
		<!-- main end -->
	{% endblock %}
{% endblock %}
{% block javascripts %}
  
  <script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
{{ parent() }}
 {% endblock %}