{% extends 'front.html.twig' %}
{% block seo %}
   {{parent()}}    
{% endblock %}

{% block body_id 'post_page' %}
 
{% block stylesheets %}
	{{ parent() }}

	<!-- Font awesome  -->
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/font-awesome.min.css') }}">
	<!-- Custom stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/style.css') }}">
{% endblock %}

{% block body %}
	<!-- start header -->
	{% block ariane %}
		<div class="ariane-container">
			<div class="container">
				<ol class="breadcrumb">
					{% set url = (app.request.requestUri|replace({('/' ~ post.slug): ''})) %}
					<li><i class="fa fa-home"></i><a href="{{ url }}">{{ post.category.name|capitalize }}</a></li>
					<li class="active">{{ post.title|capitalize }}</li>
				</ol>
			</div>
		</div>
    {% endblock %}
    <!-- end header -->
	<div class="container">
		<div class="row">
				{% block main %}
				
			        <!-- main start -->
			        <main role="main" class="post-show col-md-8">
						<article>
							<h1>{{ post.title|capitalize }}</h1>
							{#<div class="post-details">
								<ul>
									<li><i class="fa fa-calendar"></i> 12 Decembre 2017</li>
								</ul>
							</div>#}
							<div class="post-content">
								<img src="{{ asset(post.dossierImages[0].url) }}" class="img-responsive" width="750" height="300">
								<p>{{ post.content|capitalize|raw }}</p>
							</div>
						</article>


			        	
			        </main>
			        <!-- main end -->
					
				{% endblock %}

				{% block aside %}
				
			        <!-- main start -->
			        <aside role="sidebar" class="post-menu col-md-4">
			        	<h3>De la même Catégorie</h3>
			        	<div class="sepa2"></div>
						{#<ul class="related-post">
							{% for relatedPost in relatedPosts %}
								{% set postLink = (app.request.requestUri|replace({(post.slug): (relatedPost.slug) })) %}
								<li><a href="{{ postLink }}">{{ relatedPost.title|capitalize }}</a></li>
							{% endfor %}
						</ul>#}
						{% for relatedPost in relatedPosts %}
							{% if relatedPost.slug != post.slug %}
							  {% set postLink = (app.request.requestUri|replace({(post.slug): (relatedPost.slug) })) %}
							  <!-- media start -->
							  <div class="media">
							    <div class="media-left">
							      <img src="{{ asset(relatedPost.dossierImages[0].url) }}" class="media-object" style="width:60px">
							    </div>
							    <div class="media-body">
							      <h4 class="media-heading"><a href="{{ postLink }}">{{ relatedPost.title|capitalize }}</a></h4>
							    </div>
							  </div><!-- media end -->
							  <hr>
						    {% endif %}
			        	{% endfor %}
			        </aside>
			        <!-- main end -->
					<div>
			{{ dump(app.request.attributes.get('_route')) }}
		</div>
				{% endblock %}
		</div>
	</div>
	
{% endblock %}
{% block javascripts %}

  <script src="{{asset('js/jquery.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>

  {{ parent() }}
 {% endblock %}