{% extends 'front.html.twig' %}
{% block seo %}
   {{parent()}}    
{% endblock %}

{% block body_id 'contact_page' %}
 
{% block stylesheets %}
	{{ parent() }}

	<!-- Uwl carousel  -->
	<link rel="stylesheet" type="text/css" href="{{ asset('owlcarousel2/assets/owl.carousel.min.css') }}">
	<!-- Font awesome  -->
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/font-awesome.min.css') }}">
	<!-- Custom stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/style.css') }}">
{% endblock %}

{% block body %}
	<!-- start header -->
	{% block header %}
		<header role="banner" class="banner" style="background-image:url('{{asset('images/bg-banner.jpg')}}')">
			<div class="top-line"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center banner-details" >
						
					</div>
				</div>
			</div>
		</header>
    {% endblock %}
    <!-- end header -->

	{% block main %}
	
        <!-- main start -->
        <main role="main" class=" project_page">

        	<!-- section end -->
			<section class="finalized-projects container">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1 class="">{{ introFinalizedProjet.title|capitalize }}</h1>
							<div class="sepa"></div>
							<div class="lead">{{ introFinalizedProjet.content|raw }}</div>
						</div>
					</div>
				</div>
				<div class="owl-carousel carousel-autoplay pl-10 pr-10">
					{% for project in finalizedProjets %}

						<div class="listing-item pl-10 pr-10 mb-20 mb-20">
							<div class="overlay-container bordered overlay-visible">
								<img src="{{ asset(project.dossierImages[0].url) }}" alt="{{ project.title }}" class="img-responsive">
								<a class="overlay-link" href="{{ path('project_show', {postSlug: project.slug})}}"><i class="fa fa-plus"></i></a>
								<div class="overlay-bottom">
									<div class="text">
										<h3 class="title">{{ project.title|capitalize }}</h3>
										<div class="sepa light"></div>
										<div class="small margin-clear"><em>{{ project.content|capitalize|raw }}</em></div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</section>
			<!-- section end -->

			<!-- section end -->
			<section class="pending-projects container-fluid">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1 class="">{{ introPendingProjet.title|capitalize }}</h1>
							<div class="sepa"></div>
							<div class="lead">{{ introPendingProjet.content|capitalize|raw }}</div>
						</div>
					</div>

					<div class="row">
						{% for project in pendingProjets %}
							
							<div class="col-sm-4">
								<div class="image-box text-center style-2 mb-20">
									<div class="overlay-container overlay-visible">
										<img src="{{ asset(project.dossierImages[0].url) }}" alt="{{ project.title }}" width="360" height="220">
										<a href="{{ path('project_show', {postSlug: project.slug}) }}" class="overlay-link"><i class="fa fa-link"></i></a>
										<div class="overlay-bottom hidden-xs">
											<div class="text">
												<p class="lead margin-clear">{{ project.title|capitalize }}</p>
											</div>
										</div>
									</div>
									<div class="body padding-horizontal-clear">
										<p>{{ project.content|capitalize|raw }}</p>
										<a class="link-dark" href="{{ path('project_show', {postSlug: project.slug}) }}">Lire la suite <i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
			</section>
			<!-- section end -->
        </main>
        <!-- main end -->
		
	{% endblock %}
{% endblock %}
{% block javascripts %}

  <script src="{{asset('js/jquery.min.js')}}"></script>
  <script src="{{ asset('owlcarousel2/owl.carousel.min.js') }}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  <script>
    $(document).ready(function() {
      var owl = $('.owl-carousel');
      owl.owlCarousel({
		items:1,
		ltr: true,
		autoplay: true,
		autoplayTimeout: 5000,
		autoplaySpeed: 700,
		loop: true,
		dots: false,
		nav: true,
		navText: false,
		responsive:{
			479:{
				items:2
			},
			768:{
				items:2
			},
			992:{
				items:4
			},
			1200:{
				items:4
			}
		}
	})
    })
  </script>
    {{ parent() }}
 {% endblock %}