{% extends "Admin.html.twig" %}
{% block filaria %}
  {{ parent() }}<li><a href="{{ path('admin_user_index') }}"><i class="glyphicon glyphicon-th-list"></i> Liste Utilisateurs</a></li>
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('asset/css/formStyle.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<a href="{{ path('admin_user_new') }}" class="btn btn-success" style="margin-bottom: 10px"><span class="glyphicon glyphicon-plus"></span></a>
<div class="table-responsive">          
      <table class="table table-bordered table-striped ">
        <thead class="thead">
          <tr class="tr">
            <th>Pseudo</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
              <ul>
                {% for roles in user.roles %}
                  <li style="list-style: none;"><i class="glyphicon glyphicon-star"> </i> {{ roles }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>
            <a class="btn btn-default fa fa-edit" style="text-decoration: none;" href="{{ path('admin_user_edit', {'id': user.id}) }}"></a>
            <a class="btn btn-danger fa fa-trash" onclick="confirm('Voulez vous vraiment supprimer cet Utilisateur?')" style="text-decoration: none;" href="{{ path('admin_user_delete', {'id': user.id}) }}"></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
 </div>  
{% endblock %}