{% extends "Admin.html.twig" %}
{% block filaria %}
  {{ parent() }}<li><a href="{{ path('admin_user_profile') }}"><i class="glyphicon glyphicon-th-list"></i> Profile</a></li>
{% endblock %}
{% block body %}
   
<div class="col-md-3">

  <!-- Profile Image -->
  <div class="box box-primary">
    <div class="box-body box-profile">
      <img class="profile-user-img img-responsive img-circle" src="{{asset('asset/user-29.png')}}" alt="User profile picture">

      <h3 class="profile-username text-center">{{ user.username }}</h3>

      <p class="text-muted text-center">{{ user.email }}</p>

      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Followers</b> <a class="pull-right">1,322</a>
        </li>
        <li class="list-group-item">
          <b>Following</b> <a class="pull-right">543</a>
        </li>
        <li class="list-group-item">
          <b>Friends</b> <a class="pull-right">13,287</a>
        </li>
      </ul>

      <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

  <!-- About Me Box -->
</div>
    
{% endblock %}