<link href="{{ asset("assets/jquery-ui/themes/#{theme}/jquery-ui.min.css") }}" rel="stylesheet" type="text/css">
<link href="{{ asset("assets/elfinder/dist/css/elfinder.min.css") }}" rel="stylesheet" type="text/css">
<link href="{{ asset("assets/elfinder/dist/css/theme.css") }}" rel="stylesheet" type="text/css">

