/*====================
    customize navbar
  ====================*/

body { 
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

p {
    
    color: #777777;
}

h1,h2,h3,h4,h5,h6 {
    color: #333;
}

.navbar {
    background-color: rgba(57, 66, 69, 0.8);
    border-top-color: rgba(37, 42, 44, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.navbar a {
    border: 0;
}

@media only screen and (min-width: 768px) {
    .navbar .navbar-brand {
        padding-top: 18px; 
    }
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar .navbar-brand:hover {
    color: #ddd;
}

.navbar ul.navbar-nav li {
    font-size: 13px;
    padding: 20px 20px;
    letter-spacing: 1px;
}

.navbar ul.navbar-nav li.active a {
    color: #fff;
    background-color: transparent;
    border-bottom: solid 2px #03A678;
}
.navbar ul.navbar-nav li a:focus {
    color: #fff;
}

.navbar ul.navbar-nav li a {
    color: #f2f2f2;
    padding: 0;
}

.navbar ul.navbar-nav li a:hover {
    color: #fff;
}


.navbar ul.navbar-nav .active a:hover {
    color: #fff;
}

.navbar ul.navbar-nav li a {
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}

.navbar ul.navbar-nav li a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    visibility: hidden;
    width: 100%;
    height: 2px;
    content: '';
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #03A678
}

.navbar ul.navbar-nav li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.navbar ul.navbar-nav li.active a:hover:before {
    visibility: hidden;
    background-color: transparent;
}

.navbar ul.navbar-nav li.active a:hover {
    background-color: transparent;
}

/*
 * navbar toggle
 */ 

 .navbar-default .navbar-toggle:hover, 
 .navbar-default .navbar-toggle:focus {
     background-color: transparent;
 }

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


/*=================
 * Home page h2
 *=================*/

@media only screen and (max-width: 765px) {
    h2.major {
        padding-top: 40px;
    }
}

/*================
 * About Page
 *===============*/



#about_page .banner:after {
    background-color: rgba(9, 175, 223, 0.7);
}

.sepa:after {
    height: 1px;
    background: #d1d1d1;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, transparent 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.18)), color-stop(35%, rgba(0, 0, 0, 0.12)), color-stop(70%, rgba(0, 0, 0, 0.05)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, transparent 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, transparent 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, transparent 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, transparent 100%);
    position: absolute;
    bottom: -1px;
    left: 0px;
    content: "";
    width: 100%;
}

.sepa {
    position: relative;
    margin-bottom: 10px;
}

.light.sepa:after {
  background: rgba(255, 255, 255, 0.5);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
}

@media only screen and (min-width: 765px) {
    .wordOfCeo img {
        height: 343px;
        width: 555px;
    }

}

@media only screen and (min-width: 765px) {
    current-events {
        width: 290px;
        height: 180px;
    }

}

.intro {
    padding: 20px;
    background-color: #fafafa;
    border-radius: 4px;
}

.wordOfCeo {
    padding: 50px 0;
}

.current-events {
  padding-bottom: 50px;
}


.our-activities {
    padding-top: 100px;
}

.our-activities article {

    margin-bottom: 30px;
}

#home_index .intro h1, 
#home_index .intro p {
    color: #e8fffc;
}

.intro h1 {
    font-size: 1.75rem;
    line-height: 1.2;
}

.our-activities article h2 {
    padding: 10px 0;
    margin-top: 0;
    font-size: 24px;
    text-align: center;

}

.activity-details {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #e4e1e1;
    border-radius: 4px;
    text-align: center;
}

/* =================
 * Footer
 *=================*/

.footer {
    margin-top: 60px;
    color:#777;
    font-family: "Open sans", "Raleway", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #aaa;
}
.footer a {
    text-decoration: none;
    color: #aaa;
    
}
.footer a:hover {
    color: #dfdfdf;
}

.footer h3 {
    color: #c8c8c8;
    font-size: 21px;
}
.footer ul {
    padding-top: 20px;
}

.footer-top {
  background-color: #212121;
  border-top: 1px solid #d8d8d8;
  padding-bottom: 20px;
}

.pendin-p h3 {
  padding-bottom: 20px;
}

.footer .media {
  border-bottom: solid 1px #333;
  box-shadow: #000 0 1px 0;
  padding: 10px 0;
}

.footer .media h4 {
  color: #aaa;
  font-size: 15px;
  font-weight: 300;
  font-family: "Open sans", "Raleway", sans-serif;

}
.activities li {
    padding-bottom: 10px;
}


.activities li i {
  padding-right: 10px;
  color: #c9c9c9;
}
.activities li a:hover i  {
  color: #777;
}
.le-benin li {
  padding-bottom: 10px;
}
.le-benin li i {
  padding-right: 10px;
  color: #c9c9c9;
}
.le-benin li a:hover i {
  color: #777;
}

.socials-links .social-list li a {
    width: 30px;
    height: 30px;
    font-size: 15px;
    border: 1px solid #c9c9c9;
}
.socials-links .social-list li a i {
    line-height: 2;
}

.socials-links .social-list {
    text-align: left;
    border-top: solid 1px #333;
    box-shadow: #000 0 -1px 0;
    padding-top: 25px;
}


.footer-bottom {
  padding: 10px 0;
  background-color: #191919;
  border-top: 1px solid #151515;
}
.footer-bottom p {
  color: #aaa;
}




/* =================
 * Gallery
 *=================*/


#gallery_page {
  background-color: #eff1f4;
}
.gallery-wrapper {
    padding-top: 15rem;
}

 #gallery .bg-img,
 #gallery .gallery_big {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   position: relative;
   background-color: grey;
 }

 #gallery .gallery_item {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

#gallery .bg-img, #gallery .gallery_big {
  /* float: left; */
  margin-bottom: 20px;
  background-size: cover;
  cursor: zoom-in;
}

#gallery .bg-img {
  height: 200px;
}

#gallery .gallery_big {
  height: 420px;
}

@media screen and (max-width: 768px) {
  #gallery .gallery_big {
    height: 200px;
  }
  .gallery-menu {
    margin-left: 10px;
    margin-right: 10px;
  }
  .gallery-section {
    margin-left: 10px;
    margin-right: 10px;
  }

}

@media screen and (max-width: 480px) {
  .gallery-section {
    padding: 3em 0;
  }
}

@media screen and (min-width: 768px) {
  .gallery-section {
    padding-left: 24px;
  }

  .gallery-menu .nav li.active a,
  .gallery-menu .nav li.active a:hover {
    background-color: #d8d8d8;
    color: #7b527c;
  }
}

.gallery-section p {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: 1.5;
}

.gallery-menu {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding-bottom: 20px;
    background-color: #fafafa;
}




/* ==================
 *  Go to Top button
 * ==================*/
 
 .gototop {
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 999;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
 }
 .gototop.active {
   opacity: 1;
   visibility: visible;
 }
 .gototop a {
   width: 50px;
   height: 50px;
   display: table;
   background: rgba(0, 0, 0, 0.5);
   color: #fff;
   text-align: center;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   border-radius: 4px;
 }
 .gototop a i {
   height: 50px;
   display: table-cell;
   vertical-align: middle;
 }
 .gototop a:hover, .gototop a:active, .gototop a:focus {
   text-decoration: none;
   outline: none;
 }


/* ==================
 *  Contact page
 * ==================*/
 
.banner {
    position: relative;
    min-height: 250px;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #ffffff;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
    overflow: hidden;

    margin-top: 7rem;
}

.banner-details {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.banner-details h1, .banner-details p {
    color: #fff;
    z-index: 3;
    position: relative;
}

.contact-form {
    margin-top: 0;
    color: #777;
}

@media screen and (min-width: 992px) {
  .contact-form {
      padding-left: 7rem;
  }
}

@media screen and (max-width: 768px) {
  .contact-form {
      margin-top: 40px;
  }
}

.banner:after {
    background-color: rgba(0, 0, 0, 0.5);

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}

.contact-wrapper {
    padding-top: 40px;
}

.sepa {
  width: 100%;
  margin: 20px auto 15px;
  position: relative;
  height: 1px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.sepa:after {
  height: 1px;
  background: #e8e8e8;
  background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
  background: -o-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
  background: -ms-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
  position: absolute;
  bottom: -1px;
  content: "";
  width: 100%;
  left: 0;
}

.sepa2 {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  height: 1px;
}

.sepa2:after {
  height: 1px;
  background: #d1d1d1;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, transparent 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.18)), color-stop(35%, rgba(0, 0, 0, 0.12)), color-stop(70%, rgba(0, 0, 0, 0.05)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, transparent 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, transparent 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, transparent 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, transparent 100%);
  position: absolute;
  bottom: -1px;
  left: 0px;
  content: "";
  width: 100%;
}



@media screen and (max-width: 768px) {
  #contact_page .banner {
    margin-top: 5rem;
  }
}

.has-feedback label~.form-control-feedback {
    padding-top: 10px;
}

.address {
    color: #777;
    /* padding-right: 7rem; */
}

.address h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    color: #3498DB;
}

@media screen and (min-width: 992px) {
  .address h2 {
    font-size: 28px;
  }
}

.address li,
.contact-info li {
    padding: 5px 0;
}

.address li a,
.contact-info li a {
    color: #3498DB;
}

.address li a:focus,
.address li a:hover,
.contact-info li a:focus,
.contact-info li a:hover {
    text-decoration-style: none;
}

.address li i,
.contact-info li i {
    padding-right: 10px; 
}

.top-line {
    height: 3rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0px;
    z-index: 4;

}


/*====================== 
   Contact Social Link
 *=====================*/

.social-list {
    text-align: justify;
    padding-top: 20px;
}

.social-list li a {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #e7e7e7;
    color: #777;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.social-list li a:hover {
    border-color: #3498DB;
    color: #3498DB;
}

.social-list li a i {
    line-height: 40px;
    padding-right: 0;
}

/*===============
   Owl Carousel
 *===============*/


 .mb-20 {
     margin-bottom: 20px;
 }

 .pr-10 {
     padding-right: 10px;
 }

 .pl-10 {
     padding-left: 10px;
 }

 .mt-10 {
     margin-top: 10px;
 }

.overlay-container {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
}

.overlay-bottom,
.overlay-top {
  position: absolute;
  top: auto;
  padding: 15px;
  bottom: 0px;
  left: 0;
  right: 0px;
  background-color: rgba(30, 30, 30, 0.5);
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  height: 0;
  color: #ffffff;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.overlay-bottom.links,
.overlay-to-top.links {
  z-index: 11;
}

.overlay-to-top {
  position: absolute;
  top: auto;
  padding: 10px;
  bottom: -30px;
  left: 0;
  right: 0px;
  background-color: rgba(30, 30, 30, 0.5);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  color: #ffffff;
}

.overlay-top {
  top: 0;
}

.overlay-visible .overlay-bottom,
.overlay-visible .overlay-top {
  opacity: 1;
  filter: alpha(opacity=100);
  height: auto !important;
  padding-bottom: 20px;
}

.overlay-visible.overlay-container:hover .overlay-bottom:not(.links),
.overlay-visible.overlay-container:hover .overlay-top {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.overlay-top a,
.overlay-bottom a,
.overlay-to-top a {
  color: #ffffff;
}

.overlay-container .text {
  padding: 0 20px;
  position: relative;
}

.overlay-container .text h3,
.overlay-container .text h3 .small {
  margin-top: 0;
  color: #ffffff;
}

.overlay-container .text a:hover {
  color: #ffffff;
}

.overlay-bottom .btn,
.overlay-top .btn {
  color: #ffffff;
  border-color: #ffffff;
  margin: 0;
}

.overlay-bottom .btn:hover,
.overlay-top .btn:hover {
  color: #777777;
  background-color: #ffffff;
}

.overlay-container:hover .overlay-top,
.overlay-container:hover .overlay-bottom,
.image-box.style-2:hover .overlay-top,
.image-box.style-2:hover .overlay-bottom {
  height: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.overlay-container:hover .overlay-to-top,
.image-box:hover .overlay-to-top {
  opacity: 1;
  filter: alpha(opacity=100);
  bottom: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.overlay-link {
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 15px;
  bottom: 0px;
  left: 0;
  right: 0px;
  background-color: rgba(30, 30, 30, 0.5);
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  color: #ffffff;
}

.overlay-link i {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 60px;
  height: 60px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 55%;
  margin: -40px 0 0 -40px;
  font-size: 32px;
  line-height: 63px;
}

.overlay-link i:hover {
  background-color: #ffffff;
  color: #777777;
}

.overlay-link.small i {
  width: 25px;
  height: 25px;
  margin: -12.5px 0 0 -12.5px;
  font-size: 14px;
  line-height: 25px;
}

.overlay-container:hover .overlay-link {
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

/* Large devices (Large desktops 1200px and up) */
@media (min-width: 1200px) {
  .overlay-container .text {
    top: 30%;
  }
}

/* Extra small devices (phones, less than 480px) */
@media (max-width: 480px) {
  .overlay-container .text {
    top: 30%;
  }

  .overlay-container .text p:not(.mobile-visible) {
    display: none;
  }
}

/* Large and Medium devices (desktops, tablets less than 1199px) */
@media (min-width: 480px) and (max-width: 1199px) {
  .overlay-container:not(.overlay-visible) .overlay-top ~ .overlay-bottom {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .owl-item .overlay-container:hover .overlay-top {
    height: 71%;
  }

  .owl-item .overlay-container:hover .overlay-bottom {
    height: 29%;
  }
}

.margin-clear {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.overlay-bottom p {
    color: #fff;
}

/*Image box
---------------------------------- */
.owl-item .image-box {
  margin-bottom: 20px;
}

.image-box .body {
  padding: 15px;
}

.image-box .body h3 {
  margin-top: 0;
}

.image-box .body p:last-child {
  margin-bottom: 0;
}

.image-box.style-4 {
  border: none;
}

.image-box.style-3-b {
  display: block;
  margin-bottom: 40px;
}

.image-box.style-3-b .body {
  padding: 10px 0;
}

/* Medium devices (tablets, laptops, smartphones 768px and up) */
@media (min-width: 768px) {
  .image-box.style-3-b .body {
    padding: 0;
  }
}

/* Medium devices (desktops, tablets less than 991px) */
@media (max-width: 991px) {
  .image-box.style-4 {
    margin-bottom: 30px;
  }
}

/* =============
    Project page
 *==============*/
 

 .project_page {
    margin-top: 0px;
    padding-top: 20px;
 }

 .owl-carousel p {
    color: #fff;
 }

 .pending-projects {
    background-color: #fafafa;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-radius: 3px;
 }


 /* =============
    Nav pils
 *==============*/
 
.ariane-container {
  padding-top: 70px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f4f4f4;
}
.breadcrumb {
  margin-bottom: 0;
  color: #777;
  font-size: 12px;
}
.breadcrumb i {
  padding-right: 10px;
}

.breadcrumb > li + li:before {
    font-family: "FontAwesome";
    content: "\f101";
    font-size: 11px;
    padding-left: 3px;
}

/* ==============
    Post details
   ================*/

.post-details {
  color: #777;
  font-size: 12px;
}
.post-details ul {
  list-style: none;
  padding-left: 5px;
}

@media (max-width: 991px) {
  .post-menu h3 {
    padding-top: 8px;
  }
}

.post-menu ul {
  list-style: none;
  padding-left: 10px;
}

.post-menu ul li {
  padding-bottom: 10px;
}

.post-menu .media-body h4 {
  font-size: 15px;
}

.post-menu .media-body h4 a {
  color: #777;
}

.post-menu .media-body h4 a:hover,
.post-menu .media-body h4 a {
  color: #29b9e2;
  text-decoration: none;
}