{% extends "::Admin.html.twig" %}
{% block header %}
          {{"user.header.title"|trans}}
<small>{{'setting'|trans}}</small>
{% endblock %} 
{% block ariane %}
  {{parent()}} 
  <li><i class="fa fa-cog"></i>{{'user.ariane'|trans}}</li>
{% endblock %}
{% block body %}
  {% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-notice callout callout-success">
      {{ flash_message }}
    </div>
  {% endfor %}

<div class="col-md-12">
  <form action="{{path('delete_select_data',{repos: 'AppBundle:User'})}}" method="post">
    <div class="box  box-primary">
      <div class="box-header">
        <h3 class="box-title">{{"user.header.title"|trans}}</h3>
        <div class="box-tools pull-right">
          <button id="submit" type="submit" class="btn btn-danger btn-sm"> <span class="fa fa-trash"> </span> {{ 'delete.submit'|trans }}</button>
          <a href="{{ path('admin_user_new') }}" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span>  {{ 'new.submit'|trans }}</a>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th> 
              <label class="checkbox-container">{{'table.allselect'|trans}}
                <input id="selectAll" class="checkbox" type="checkbox"> 
                <span class="checkmark"></span>
              </label>
            </th>
            <th>{{'table.username'|trans}}</th>
            <th>{{'table.email'|trans}}</th>
            <th>{{'table.action'|trans}}</th>
          </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>
                  <label class="checkbox-container">
                    <input class="select checkbox" type="checkbox" name="{{user.id}}">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <a class="btn btn-default fa fa-edit" style="text-decoration: none;" href="{{ path('admin_user_edit', { id: user.id }) }}"></a>
                  <a style="text-decoration: none;" data-confirm="{{"delete.confirm.message"|trans}}" href="{{ path('admin_user_delete', { id: user.id }) }}" class="btn btn-danger fa fa-trash"></a>
                  {#{die(dump(user))}#}
                  {% if user.enabled == true %}
                    <a class="btn btn-success" style="text-decoration: none;" data-confirm="{{"user.confirm.deactivate"|trans}}" href="{{ path('admin_user_deactivate', { username: user.username }) }}">{{'user.deactivate'|trans}}</a>
                    {% else %}
                    <a class="btn btn-default" style="text-decoration: none;" data-confirm="{{"user.confirm.activate"|trans}}" href="{{ path('admin_user_activate', { username: user.username }) }}">{{'user.activate'|trans}}</a>
                  {% endif %}
                  <div class="btn-group">
                    <b type="button" class="btn btn-info">{{'user.addrole'|trans}}</b>
                    <b type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </b>
                    <ul class="dropdown-menu" role="menu">
                      {% if "ROLE_USER" not in user.roles %}
                        <li><a data-confirm="{{"user.confirm.addrole"|trans}}" href="{{path('admin_user_addrole',{username: user.username,role: 'ROLE_USER'})}}">ROLE_USER</a></li>
                      {% endif %}
                      {% if "ROLE_SUPER_ADMIN" not in user.roles %}
                        <li><a data-confirm="{{"user.confirm.addrole"|trans}}" href="{{path('admin_user_addrole',{username: user.username,role: 'ROLE_SUPER_ADMIN'})}}">ROLE_SUPER_ADMIN</a></li>
                      {% endif %}
                    </ul>
                  </div>
                  <div class="btn-group">
                    <b type="button" class="btn btn-warning">{{'user.removerole'|trans}}</b>
                    <b type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </b>
                    <ul class="dropdown-menu" role="menu">
                      {% if "ROLE_USER"  in user.roles %}
                        <li><a data-confirm="{{"user.confirm.removerole"|trans}}" href="{{path('admin_user_removerole',{username: user.username,role: 'ROLE_USER'})}}">ROLE_USER</a></li>
                      {% endif %}
                      {% if "ROLE_SUPER_ADMIN"  in user.roles %}
                        <li><a data-confirm="{{"user.confirm.removerole"|trans}}" href="{{path('admin_user_removerole',{username: user.username,role: 'ROLE_SUPER_ADMIN'})}}">ROLE_SUPER_ADMIN</a></li>
                      {% endif %}
                    </ul>
                  </div>
                  
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <th style="width:10px">#</th>
            <th>{{'table.username'|trans}}</th>
            <th>{{'table.email'|trans}}</th>
            <th>{{'table.action'|trans}}</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </form>
</div>
    
{% endblock %}