{{ include('admin/form/new.html.twig', 
{

header: "postcat.header.title"|trans
 ~ '  <small>'~'setting'|trans~'</small>',
ariane_path1:'admin_post_index',
ariane_path2:'admin_post_category_index',
category:true,
ariane_name1:"post.ariane"|trans,
ariane_name2:"postcat.ariane"|trans,
action:"admin_post_category_new",
title:"postcat.new.title"|trans,
back_link: 'admin_post_category_index',

}) }}