{% extends 'base.html.twig' %}
{% block seo %}
    <meta charset="utf-8">
    <title>{{post.title}}</title>
    <meta content="{{post.courtcontent|slice(0,150)|raw}}" name="description">
    <meta content="{{post.title}},assurance, courtier assurance, assurance courtier" name="keywords">
    <meta content="CECA ASSURANCE" name="author">
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="snippet,archive">
    <meta property="og:site_name" content="CECA ASSURANCE">
    <meta property="og:title" content="{{post.title}}">
    <meta property="og:description" content="{{post.courtcontent|slice(0,150)|raw}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{post.image}}"> <!-- link to image for socio -->
    <meta property="og:url" content="{{ path('blog_post',{'slug':post.slug}) }}">     
{% endblock %}
 {#% block stylesheets %}
  {{parent()}}
 
  <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
 {% endblock %#}

{% block body%}
<h1> Post Show</h1>
  <div>
    <h4>{{ post.title }}</h4>
  </div>
{% endblock %}