<ul class="list-unstyled">
	{% for aboutBenin in aboutBenins %}
		<li><a href="{{ path('le_benin_show', {postSlug: aboutBenin.slug}) }}"><i class="fa fa-chevron-circle-right"></i>{{ aboutBenin.title }}</a></li>
    {% endfor %}
 </ul>