<ul class="list-unstyled">
  <li><i class="fa fa-home"></i><span class="text-center"> {{ ourContact.location }}</span></li>
  <li><i class="fa fa-phone"></i><a href="tel:{{ ourContact.telephone }}" title="Phone"> {{ ourContact.telephone}}</a></li>
  <li><i class="fa fa-mobile"></i><a href="tel:{{ ourContact.mobile }}" title="Phone"> {{ ourContact.mobile }}</a></li>
  <li><i class="fa fa-envelope-o"></i><a href="mailto:{{ ourContact.email }}"> {{ ourContact.email }}</a></li>
</ul>