<ul class="list-unstyled">
	{% for activity in activities %}
  		<li><a href="{{ path('activity_post_show', {postSlug: activity.slug})}}" title="{{ activity.title|capitalize }}"><i class="fa fa-chevron-circle-right"></i>{{ activity.title|capitalize }}</a></li>
	{% endfor %}
</ul>