{% for project in pendingProjects[:3] %}
	<!-- media start -->
	<div class="media">
	  <div class="media-left">
	    <img src="{{ asset(project.dossierImages[0].url) }}" class="media-object" style="width:43px">
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading"><a href="{{ path('project_show', { postSlug: project.slug}) }}">{{ project.title|capitalize }}</a></h4>
	  </div>
	</div><!-- media end -->
{% endfor %}