<ul class="list-unstyle list-inline social-list">
	{% if address.socials|length > 0 %}
		{% for social in address.socials %}
			<li><a href="{{ social.url }}"><i class="{{ social.iconCode }}"></i></a></li>
		{% endfor %}
	{% endif %}
</ul>