{% extends "::Admin.html.twig" %}
{% block header %}
         {{header|raw}}
{% endblock %} 
{% block ariane %}
	{% if  category is defined or categoryalbum is defined or tag is defined or categoryregulation is defined or categoryservice is defined or groupefaq is defined %}
		{{parent()}} 
		<li><a href="{{path(ariane_path1)}}"><i class="fa fa-cog"></i>{{ariane_name1}}</a></li>
		<li><a href="{{path(ariane_path2)}}"><i class="fa fa-cog"></i>{{ariane_name2}}</a></li>
		<li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% elseif slider is defined %}
		{{parent()}} 
			<li><a href="{{path(ariane_path1)}}"><i class="fa fa-cog"></i>{{ariane_name1}}</a></li>
			<li><a href="{{path(ariane_path2,{slider: slider})}}"><i class="fa fa-cog"></i>{{ariane_name2}}</a></li>
			<li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% else %}
  		{{parent()}} <li><a href="{{path(ariane_path)}}"><i class="fa fa-cog"></i>{{ariane_name}}</a></li><li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% endif %}
{% endblock %}
{% block body %}
{% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-notice callout callout-success">
      {{ flash_message }}
    </div>
{% endfor %}
	<div class="container">
		<div class="col-md-8" id="entity_block">
			<!-- general form elements -->
		    <div class="box box-primary">
			    <div class="box-header with-border">
			       <h3 class="box-title">{{title}}</h3>
			       <div class="box-tools pull-right">
				    	
				   </div>
			    </div>
			    <!-- /.box-header -->
			    <!-- form start -->
			    {% if form is defined %}
					{{ form_start(form, {"attr": {"role":"form"}}) }}
				      <div class="box-body">
				          {{form_row(form.title)}}
				          {{form_row(form.category)}}
				          {#{form_row(form.tags)}#}
				          {{form_row(form.content)}}
				          {{form_row(form.state)}}
				          {{form_row(form.publishedAt)}}

				          <div class="dossierImage-form">  
				            {{ include('admin/form/form_dossier_image.html.twig') }}
				          </div>
				          {{form_row(form.dossierImages)}}

				      </div>
				      <!-- /.box-body -->

				      <div class="box-footer">
				        <button type="submit" class="btn btn-primary">{{ 'edit.submit'|trans }}</button>
				        {% if back_link is defined %}
				        	<a href="{{path(back_link)}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
				        {% endif %}
				      </div>
			  		{{ form_end(form)}}
				{% elseif  edit_form is defined%}

					{{ form_start(edit_form, {"attr": {"role":"form"}}) }}
						<div class="box-body">
						   {{form_widget(edit_form)}}
						</div>
						<!-- /.box-body -->

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">{{ 'edit.submit'|trans }}</button>
							{% if back_link is defined %}
					        	<a href="{{path(back_link)}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
					        {% endif %}
						</div>
					{{ form_end(edit_form)}}
		  		{% elseif  setting_form is defined%}
		  		    {{ form_start(setting_form, {"attr": {"role":"form"}}) }}
				  		<div class="box-body">
				  		 	<div class="col-md-6">
				  		 		<div class="box box-primary">
							        <div class="box-header with-border">
							          <h3 class="box-title">{{ 'label.setting.header'|trans }}</h3>

							          <div class="box-tools pull-right">
							            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							          </div>
							        </div>
							        <!-- /.box-header -->
							        <div class="box-body">
										{{form_row(setting_form.title)}}
										{{form_row(setting_form.logo)}}
										{{form_row(setting_form.slogan)}}
							        </div>
											         <!-- /.box-body -->
							        <div class="box-footer">
							        </div>
							    </div>
				  		 	</div>
				  		 	<div class="col-md-6">
				  		 		<div class="box box-primary">
							        <div class="box-header with-border">
							          <h3 class="box-title">{{ 'label.setting.footer'|trans }}</h3>

							          <div class="box-tools pull-right">
							            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							          </div>
							        </div>
							        <!-- /.box-header -->
							        <div class="box-body">
										{{form_row(setting_form.footertext1)}}
										{{form_row(setting_form.footertext2)}}
										{{form_row(setting_form.footertext3)}}
							        </div>
											         <!-- /.box-body -->
							        <div class="box-footer">
							        </div>
							    </div>
				  		 	</div>
				  		 	<div class="col-md-6">
				  		 		<div class="box box-primary">
							        <div class="box-header with-border">
							          <h3 class="box-title">{{ 'label.setting.contacts'|trans }}</h3>

							          <div class="box-tools pull-right">
							            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							          </div>
							        </div>
							        <!-- /.box-header -->
							        <div class="box-body">
										{{form_row(setting_form.adress)}}
										{{form_row(setting_form.telfix)}}
										{{form_row(setting_form.telmobile)}}
										{{form_row(setting_form.email)}}
										{{form_row(setting_form.fax)}}
										{{form_row(setting_form.bp)}}
										{{form_row(setting_form.googleMap)}}
							        </div>
											         <!-- /.box-body -->
							        <div class="box-footer">
							        </div>
							    </div>
				  		 	</div>
				  		 	<div class="col-md-6">
				  		 		<div class="box box-primary">
							        <div class="box-header with-border">
							          <h3 class="box-title">{{ 'label.setting.links'|trans }}</h3>

							          <div class="box-tools pull-right">
							            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							          </div>
							        </div>
							        <!-- /.box-header -->
							        <div class="box-body">
										{{form_row(setting_form.facebook)}}
										{{form_row(setting_form.googleplus)}}
										{{form_row(setting_form.twitter)}}
										{{form_row(setting_form.linkedin)}}
										{{form_row(setting_form.skype)}}
										{{form_row(setting_form.instagram)}}
										{{form_row(setting_form.youtube)}}
							        </div>
											         <!-- /.box-body -->
							        <div class="box-footer">
							        </div>
							    </div>
				  		 	</div>
				  		</div>
				  		<div class="box-footer">
					        <button type="submit" class="btn btn-primary">{{ 'edit.submit'|trans }}</button>
					        {% if back_link is defined %}
					        	<a href="{{path(back_link)}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
					        {% endif %}
					    </div>
			  	    {{ form_end(setting_form)}}
			    {% endif %}
		  		
		    </div>
		  	<!-- /.box -->
		</div>
        <!-- /.col -->
        
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	
	<script src="{{asset('js/elfinder-multi-photos.js')}}" charset="utf-8"></script>
{% endblock %}