{% macro dossierImageRow(dossierImage) %}
    <div class="col-md-3">
        <div class="hidden">
         {{ form_row(dossierImage.url) }}
        </div>
        {% if dossierImage.url.vars.value is defined and not (dossierImage.url.vars.value is empty) %}
            <div>
                <a class="btn btn-xs delete-row">
                    <i class="fa fa-trash text-primary"></i>   
                </a>
            </div>
            <img src="{{ dossierImage.url.vars.value }}" alt="" height="120" class="img-responsive" />
        {% endif %}
    </div>
    
{% endmacro %}

<div>
<script type="text/html" id="nl">{{ _self.dossierImageRow (form.dossierImages.vars.prototype) }} </script>
</div>
<hr>

<h4>Ajouter une photo</h4>

<div class="form-actions clearfix">
    <button type="button" id="addDossierImage" class="btn bt-small btn-info">
        <i class="fa fa-plus-circle"></i>
    </button>
    <div class="btn btn-info pull-right"><span class="badge photoCount"></span> photo(s)</div>
</div>

<div class="dossierImage"> 
    <div class="row" id="dsi-content"> 
        {% for dossierImage in form.dossierImages %}
            {{ _self.dossierImageRow(dossierImage) }}
        {% endfor %}
    </div>
</div>