{% extends "::Admin.html.twig" %}
{% block header %}
         {{header|raw}}
{% endblock %} 
{% block ariane %}
	{% if  category is defined or categoryalbum is defined or tag is defined or categoryregulation is defined or categoryservice is defined or groupefaq is defined %}
		{{parent()}} 
		<li><a href="{{path(ariane_path1)}}"><i class="fa fa-cog"></i>{{ariane_name1}}</a></li>
		<li><a href="{{path(ariane_path2)}}"><i class="fa fa-cog"></i>{{ariane_name2}}</a></li>
		<li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% elseif slider is defined %}
		{{parent()}} 
			<li><a href="{{path(ariane_path1)}}"><i class="fa fa-cog"></i>{{ariane_name1}}</a></li>
			<li><a href="{{path(ariane_path2,{slider: slider})}}"><i class="fa fa-cog"></i>{{ariane_name2}}</a></li>
			<li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% else %}
  		{{parent()}} <li><a href="{{path(ariane_path)}}"><i class="fa fa-cog"></i>{{ariane_name}}</a></li><li><i class="fa fa-plus"></i>{{'new.submit'|trans}}</li>
	{% endif %}
  
{% endblock %}
{% block body%}
{% for flash_message in app.session.flashbag.get('notice') %}
	<div class="flash-notice alert alert-info">
	{{ flash_message }}
	</div>
{% endfor %}
<div class="container">
	<div class="col-md-8">
	  <!-- general form elements -->
	    <div class="box box-primary">
		    <div class="box-header with-border">
		       <h3 class="box-title">{{title}}</h3>
		    </div>
		    <!-- /.box-header -->
		    <!-- form start -->
	        {% if slider is defined %}
	        	{{ form_start(form, {'action': path(action,{slider: slider}), 'method': 'POST'}) }}
			{% else %}
	        	{{ form_start(form, {'action': path(action), 'method': 'POST'}) }}
			{% endif %}
		      <div class="box-body">
		          {#{form_widget(form)}#}
		          {{form_row(form.title)}}
		          {{form_row(form.category)}}
		          {#{form_row(form.tags)}#}
		          {{form_row(form.content)}}
		          {{form_row(form.state)}}
		          {{form_row(form.publishedAt)}}
		          

		          <div class="dossierImage-form">  
		            {{ include('admin/form/form_dossier_image.html.twig') }}
		          </div>
		          {{form_row(form.dossierImages)}}
		      </div>
		      <!-- /.box-body -->
		      <div class="box-footer">
		        <button type="submit" class="btn btn-primary">{{ 'new.submit'|trans }}</button>
		        {% if back_link is defined %}
		        	<a href="{{path(back_link)}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
		        {% endif %}
		      </div>

	  		{{ form_end(form)}}
	    </div>
	  <!-- /.box -->
	</div>
</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	
	<script src="{{asset('js/elfinder-multi-photos.js')}}" charset="utf-8"></script>
{% endblock %}