{{ include('admin/form/new_post.html.twig', 
{
header: 'post.header.title'|trans ~ '  <small>'~'setting'|trans~'</small>',
ariane_path:'admin_post_index',
ariane_name:'post.ariane'|trans,
action:'admin_post_new',
title:'post.new.title'|trans,
back_link: 'admin_post_index',

}) }}


