{{ include('admin/form/edit_post.html.twig', 
{
header: 'post.header.title'|trans ~ '  <small>'~'setting'|trans~'</small>',
ariane_path:'admin_post_index',
ariane_name:'post.ariane'|trans,
title:'post.edit.title'|trans,
back_link: 'admin_post_index',
}) }}

